{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 2017,
    "globalReturn": true
  },
  "rules": {
    "max-len": ["warn", 120, 2, {"ignoreUrls": true}],
    "comma-dangle": 0,
    "one-var": 0,
    "semi": 2,
    "camelcase": 0
  }
}
