<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style type="text/css" media="screen">
        #editor { 
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0px;
            left: 0px;
        }
    </style>
  </head>
  <body>
    <header class="mdc-top-app-bar">
      <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
          <a href="#" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
          <span class="mdc-top-app-bar__title">Dashboard: {{title}}</span>
        </section>
      </div>
    </header>
    {{{body}}}
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  </body>
</html>
